JWT_DISABLED=False
URI_API_ENDP=https://identifier.translation.service/translate
AUTH_API_ENDP=https://authentication.service/tokens
URI_API_USER=user@example.com
URI_API_PASS=some_secret_password
ALTMETRICS_AUTH_ENDP=https://altmetrics.ubiquity.press/api/get_token
ALTMETRICS_ENDP=https://altmetrics.ubiquity.press/api/uriset
ALTMETRICS_USER=user@example.com
ALTMETRICS_PASS=some_secure_password
